In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix

In [7]:
file1 = open("/Users/francescopinto/Desktop/DATA SCIENCE/ERASMUS/Corsi/Trustworthy Machine Learning/TML_Project3-main/data/communities.names", "r+")
lines = file1.readlines()
file1.close()

In [8]:
lines2 = lines[75:(75+128)]
lines2 = [str(i).replace('\n','').replace('@attribute','').strip() for i in lines2]

In [9]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data'
df = pd.read_csv(path, index_col=False,names=lines2)

In [10]:
y = df['ViolentCrimesPerPop numeric']
X = df.drop(columns=['ViolentCrimesPerPop numeric'],axis=1)

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Columns: 127 entries, state numeric to PolicBudgPerPop numeric
dtypes: float64(99), int64(2), object(26)
memory usage: 1.9+ MB

In [12]:
#X.select_dtypes(np.number)

In [13]:
#X['community numeric'].value_counts()

In [14]:
#sns.heatmap(X.corr())

# Adult Dataset

In [15]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
columns= ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','over50']
train_set = pd.read_csv(path, index_col=False,names=columns)

In [16]:
path_test = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test'
test_set = pd.read_csv(path_test,skiprows=1, index_col=False,names=columns)

In [17]:
train_set.shape

(32561, 15)

In [18]:
test_set

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,over50
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [19]:
data = pd.concat([train_set,test_set])

In [20]:
data.iloc[train_set.shape[0]:,:]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,over50
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [23]:
test_set.shape

(16281, 15)

In [21]:
data['sex'] = data['sex'].str.strip()

In [22]:
data['race'] = data['race'].str.strip()

In [24]:
data['native-country'] = data['native-country'].str.strip()

In [25]:
data['over50'] = data['over50'].str.strip().str.replace('.','')

<ipython-input-25-47d849351419>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['over50'] = data['over50'].str.strip().str.replace('.','')

In [26]:
data['target'] = data['over50'].apply(lambda x: 1 if x == '>50K' else 0)

In [27]:
data['over50']

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
16276    <=50K
16277    <=50K
16278    <=50K
16279    <=50K
16280     >50K
Name: over50, Length: 48842, dtype: object

In [28]:
data['target']

0        0
1        0
2        0
3        0
4        0
        ..
16276    0
16277    0
16278    0
16279    0
16280    1
Name: target, Length: 48842, dtype: int64

In [29]:
data.drop(columns=['over50'],axis=1,inplace=True)

In [30]:
data2 = pd.get_dummies(data,drop_first=True)

In [31]:
data2.columns = [ str(i).strip().replace(' ','') for i in data2.columns]

In [32]:
#data2['over50_>50K'].sum()/data2.shape[0]

In [33]:
train = data2.iloc[:train_set.shape[0],:]
test = data2.iloc[train_set.shape[0]:,:]

In [34]:
train.shape

(32561, 101)

In [35]:
test.shape

(16281, 101)

In [36]:
y_train = train['target']
X_train = train.drop(columns=['target'],axis=1)
y_test = test['target']
X_test = test.drop(columns=['target'],axis=1)

In [37]:
y_train = y_train.to_numpy().ravel()

In [38]:
X_train.shape

(32561, 100)

In [39]:
y_train.shape

(32561,)

In [40]:
y_train.sum()

7841

In [41]:
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

In [42]:
data['race'].value_counts()

White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

In [43]:
data['native-country'].value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [44]:
data['workclass'].value_counts()

 Private             33906
 Self-emp-not-inc     3862
 Local-gov            3136
 ?                    2799
 State-gov            1981
 Self-emp-inc         1695
 Federal-gov          1432
 Without-pay            21
 Never-worked           10
Name: workclass, dtype: int64

# Statistical tests

### Difference of means test

The null hypothesis is that the means of the two groups are equal. The test statistic is

$$t = \frac{E(y|s^0) - E(y|s^1)}{\sigma \sqrt{\frac{1}{n_0} + \frac{1}{n_1}}}$$


where $n_0$ is the number of individuals in the unprotected group, $n_1$ is the number of individuals in the protected group,

$$\sigma = \sqrt{\frac{(n_0 - 1)\delta_0^2 + (n_1 - 1)\delta_1^2}{n_0 + n_1 2}}$$

where $\delta_0^2$ and $\delta_1^2$ are the sample target variances in the respective groups.

In [59]:
def difference_of_means(column, protected, general):
    prot = data[data[column] == protected]
    gen = data[data[column] == general]
    
    n_0 = len(gen)
    n_1 = len(prot)
    delta_0 = np.var(gen)
    delta_1 = np.var(prot)
    
    sigma = np.sqrt(((n_0-1)*delta_0 + (n_1 - 1)*delta_1)/(n_0 + n_1 - 2))
    t =  (np.mean(prot) - np.mean(gen))/(sigma * np.sqrt(1/n_0 + 1/n_1))
    
    return t

In [60]:
#I don't know if it's correct to evaluate t for every variable. If not, just substitute 
#"return t" with "return t['target']"

In [61]:
difference_of_means('sex','Female','Male')

age              -19.550787
fnlwgt            -6.132740
education-num     -2.061601
capital-gain     -10.419424
capital-loss     -10.061672
hours-per-week   -51.885647
target           -48.564938
dtype: float64

### Difference in proportions for two groups

The null hypothesis is that the rates of positive outcomes within the two groups are equal. The test statistic is

$$z = \frac{p(y^+|s^0) - p(y^+|s^1)}{\sigma},$$

where

$$\sigma = \sqrt{\frac{p(y^+|s^0)p(y^-|s^0)}{n_0} + \frac{p(y^+|s^1)p(y^-|s^1)}{n_1}}$$

In [54]:
def difference_in_proportions(column, protected, general):
    
    prot = data[data[column] == protected]
    gen = data[data[column] == general]
    n_0 = len(gen)
    n_1 = len(prot)
    
    p_prot = prot['target'].sum()/prot.shape[0]
    p_gen = gen['target'].sum()/gen.shape[0]
    
    sigma = np.sqrt((p_gen * (1-p_gen))/n_0 + (p_prot * (1-p_prot))/n_1)
    z = (p_gen - p_prot)/sigma
    
    return z

In [57]:
difference_in_proportions('sex','Female','Male')

55.04450553364219

## Absolute measures

### Impact ratio

$$r = \frac{p(y^{+}|s^{1})}{p(y^{+}|s^{0})}$$

Protected group: Female  
General group: Male

In [67]:
def impact_ratio(column,protected,general):
    prot = data[data[column] == protected]
    gen = data[data[column] == general]
    p_f = prot['target'].sum()/prot.shape[0]
    p_m = gen['target'].sum()/gen.shape[0]
    ratio = p_f/p_m
    return  ratio, (1/ratio)

In [68]:
p_f = data[data['sex'] == 'Female']['target'].sum()/data[data['sex'] == 'Female'].shape[0]
p_m = data[data['sex'] == 'Male']['target'].sum()/data[data['sex'] == 'Male'].shape[0]
print(p_f)
print(p_m)

0.07281373517786562
0.2040428790199081

In [69]:
ratio = p_f/p_m

In [70]:
print(ratio)
print(1/ratio)

0.356855066580203
2.8022580976169227

In [71]:
impact_ratio('sex','Female','Male')

(0.356855066580203, 2.8022580976169227)

Protected group: Black  
General group: White

In [72]:
races = data['race'].unique().tolist()

In [73]:
for i in races:
    print('Impact ratio between White and {}'.format(i),impact_ratio('race',i,'White'))

Impact ratio between White and White (1.0, 1.0)
Impact ratio between White and Black (0.4847141443915983, 2.0630716300948393)
Impact ratio between White and Asian-Pac-Islander (1.0661925201487448, 0.9379169156621825)
Impact ratio between White and Amer-Indian-Eskimo (0.44945784591284277, 2.224902755827999)
Impact ratio between White and Other (0.36132523874356204, 2.7675896748240025)

### Mean Difference


$$d = p(y^{+}|s^{0}) - p(y^{+}|s^{1})$$

In [74]:
def mean_difference(column, protected, general):
    p_f = data[data[column] == protected]['target'].sum()/data[data[column] == protected].shape[0]
    p_m = data[data[column] == general]['target'].sum()/data[data[column] == general].shape[0]
    d = p_m - p_f
    return d

In [75]:
mean_difference('sex','Female','Male')

0.13122914384204248

In [76]:
for i in races:
    print('Impact ratio between White and {}'.format(i),mean_difference('race',i,'White'))

Impact ratio between White and White 0.0
Impact ratio between White and Black 0.08781402792885865
Impact ratio between White and Asian-Pac-Islander -0.01128040242082795
Impact ratio between White and Amer-Indian-Eskimo 0.09382233874427226
Impact ratio between White and Other 0.10884172874532036

### Normalized difference

In [77]:
def normalized_difference(column,protected,general):
    d = mean_difference(column,protected,general)
    pypos = data[data['target'] == 1].shape[0]/data.shape[0]
    pyneg = data[data['target'] == 0].shape[0]/data.shape[0]
    ps1 = data[data[column] == protected].shape[0]/data.shape[0]
    ps0 = data[data[column] == general].shape[0]/data.shape[0]
    d_max = min((pypos/ps0),(pyneg/ps1))
    return d/d_max

In [78]:
normalized_difference('sex','Female','Male')

0.546439426915277

In [79]:
normalized_difference('race','Black','White')

0.46770685299897913

In [80]:
for i in races:
    print('Impact ratio between White and {}'.format(i),normalized_difference('race',i,'White'))

Impact ratio between White and White 0.0
Impact ratio between White and Black 0.46770685299897913
Impact ratio between White and Asian-Pac-Islander -0.06008062312187437
Impact ratio between White and Amer-Indian-Eskimo 0.49970775546974855
Impact ratio between White and Other 0.5797026241374913

### Area under the curve (AUC)

In [81]:
#Too expensive, don't try it :'v
def auc():
    men = data[data['sex'] == 'Male']
    women = data[data['sex'] == 'Female']
    suma = 0
    for i,row in men.iterrows():
        for j,row2 in women.iterrows():
            if row['target'] > row2['target']:
                suma +=1
    return suma/(men.shape[0]*women.shape[0])

### Elift ratio

In [82]:
def elif_ratio2(column,protected,general):
    p_g = data[(data[column] == general)&(data['target'] == 1)].shape[0]/data[data[column] == general].shape[0]
    r = p_g/data[data['target'] == 1].shape[0]
    return r

In [83]:
def elif_ratio(column,protected,general):
    p_g = data[data[column] == general]['target'].sum()/data[data[column] == general].shape[0]
    r = p_g/data[data['target'] == 1].shape[0]
    return r

In [84]:
elif_ratio('sex','Female','Male')

2.602255822215382e-05

In [85]:
elif_ratio2('sex','Female','Male')

2.602255822215382e-05

In [86]:
for i in races:
    print('Impact ratio between White and {}'.format(i),elif_ratio2('race',i,'White'))

Impact ratio between White and White 2.173422821389151e-05
Impact ratio between White and Black 2.173422821389151e-05
Impact ratio between White and Asian-Pac-Islander 2.173422821389151e-05
Impact ratio between White and Amer-Indian-Eskimo 2.173422821389151e-05
Impact ratio between White and Other 2.173422821389151e-05

In [158]:
from sklearn.naive_bayes import GaussianNB

In [159]:
m_NB = GaussianNB()
m_NB.fit(X_train,y_train)

GaussianNB()

In [160]:
y_pred = m_NB.predict(X_test)

In [161]:
accuracy_score(y_test,y_pred)

0.7957127940544193

In [197]:
def fairness_metrics(y_pred,y_true):
    """Calculate fairness for subgroup of population"""
    
    #Confusion Matrix
    cm=confusion_matrix(y_true,y_pred)
    TN, FP, FN, TP = cm.ravel()
    
    N = TP+FP+FN+TN #Total population
    ACC = (TP+TN)/N #Accuracy
    TPR = TP/(TP+FN) # True positive rate
    FPR = FP/(FP+TN) # False positive rate
    FNR = FN/(TP+FN) # False negative rate
    PPP = (TP + FP)/N # % predicted as positive
    
    return np.array([ACC, TPR, FPR, FNR, PPP])

In [163]:
fairness_metrics(y_pred,y_test)

[[11782   653]
 [ 2673  1173]]

array([0.79571279, 0.3049922 , 0.05251307, 0.6950078 , 0.11215527])

In [164]:
pipeline = Pipeline([('scaler',StandardScaler()),('log',LogisticRegression(penalty='l1',C = 0.1,solver='saga',max_iter=400))])

#log = LogisticRegression(penalty='l1',C = 0.1,solver='saga',max_iter=400)
pipeline.fit(X_train,y_train)

C:\Users\srodriguezb\Anaconda3\envs\introds\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Pipeline(steps=[('scaler', StandardScaler()),
                ('log',
                 LogisticRegression(C=0.1, max_iter=400, penalty='l1',
                                    solver='saga'))])

In [165]:
y_pred = pipeline.predict(X_test)

In [166]:
accuracy_score(y_test,y_pred)

0.85283459246975

In [167]:
fairness_metrics(y_pred,y_test)

[[11590   845]
 [ 1551  2295]]

array([0.85283459, 0.59672387, 0.06795336, 0.40327613, 0.19286285])

In [193]:
y_pred

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [195]:
y_pred_males = y_pred[X_test[X_test['sex_Male'] == 1].index.tolist()]
y_pred_females = y_pred[X_test[X_test['sex_Male'] == 0].index.tolist()]

In [178]:
y_test_males = y_test.loc[X_test[X_test['sex_Male'] == 1].index]
y_test_females = y_test.loc[X_test[X_test['sex_Male'] == 0].index]

In [203]:
fm_sex_1 = fairness_metrics(y_pred_males,y_test_males)
fm_sex_0 = fairness_metrics(y_pred_females,y_test_females)

In [204]:
fm_sex = fm_sex_0/fm_sex_1

In [200]:
fm_sex

array([1.14045264, 0.858641  , 0.21849343, 1.22105432, 0.30255426])

In [205]:
fm_sex_0

array([0.92916436, 0.52372881, 0.02132064, 0.47627119, 0.07600074])

In [206]:
fm_sex_1

array([0.81473297, 0.60995086, 0.09758022, 0.39004914, 0.25119705])